

<div class="row">

    <div class="col-sm-6">
        <img src="assets/img/исследователь.jpg" class="img-thumbnail" alt="роль теоретик">
    </div>

    <div class="col-sm-6">
        <h4 style="text-align:left;">Исследователь</h4>
        <h5 class="text-center" style="color:blue;"> 1 этап </h5>
        
            Посмотрите видео и дайте ответы на вопросы.
            Запишите основные форматы графических файлов.
            Разберите решенную задачу.

        
        <div>
         
            <a href="https://www.youtube.com/watch?v=gy7vA8_7dSg" target="_blank">  Ссылка на видео  </a> <br>
         
        </div>      
        
        
        <div *ngIf="!isFirstAnswerGiven" > 
            
            Решите подобную задачу. Введите правильный ответ задачи и получите доступ к следующему заданию. 

            <div class="mt-2 alert-info">
                Задача. Для хранения растрового изображения размером 64*32 пикселя отвели 1 килобайт памяти. Каково максимально возможное число цветов в палитре изображения?

            </div>
            
            <div style = "min-height: 60px;" class="mt-2">
                <div class="alert alert-danger fade show" role="alert" *ngIf="isErorrMessage">
                    Ответ не верен                    
                  </div>
            </div>

            <div class="form-inline">                
                
                <div class="form-group mx-sm-3 mb-2">                  
                  <input type="text" class="form-control" id="inputPassword"  [(ngModel)]="answer" (keydown)="clearError()">
                </div>

                <button  class="btn btn-primary mb-2" (click)="check()" >Ответить</button>
            </div>
          </div>

        
    </div>

</div>

<div class="row mt-3" *ngIf="isFirstAnswerGiven">
    <div class="col-sm-12">
        <h5  style="color:blue;"> 2 этап </h5>
        <div>Проведите мини-исследование, ответив на вопросы.</div>
        
        <ol>
<li>Почему фрактальную графику создают программисты и/или математики?</li>
<li>Кем нужно быть, чтобы создавать фрактальную графику?</li>
<li>Какая особенность фрактальной графики?</li>
</ol>

    </div>

    <div>
        <a href="https://www.youtube.com/watch?v=fSLIUGZL9Vo" target="_blank"> 
            Используйте материалы ссылки
        </a>
    </div>
</div>




